body {
font-family: Arial, Verdana, Sans-serif;
font-size: 11pt;
Background-color: #f0f0f0;
color: #333;
}

h1 {
color: #a52a2a ;
font-size: 24pt;
font-family: Georgia, Times, Serif;
font-weight: normal;
}

P {
text-align: justify;
margin-left: 60px;
margin-right: 10px;
Border-left: 1px solid #999;
Border-bottom: 1px solid #999;
Padding-left: 10px;
Padding-bottom: 10px;
}

#img3 > p{
Border-right: 1px solid #999;
}
 
.mystyle {
color: #8dff22;
font-size: 40pt;
font-family: Georgia, Times, Serif;
}